@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root{
    --color-primary: #2573fb;
    --color-danger: #e15e5e;
    --color-bg: #dcd7d6;
    --color-white: #fff;
    --color-dark: #1f1f38;
    --color-light: rgba(255,255,255,0.6);

    --transition: all .4s ease;

    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 92%;
}

*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: 0;
    list-style: none;
}

body{
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(45deg, var(--color-primary), var(--color-bg));
    line-height: 1.7;
    color: var(--color-dark);
}
  


.container{
    width: 80%;
    background: var(--color-bg);
    margin: 5rem auto 5rem;
}

.btn{
    width: max-content;
    display: inline-block;
    padding: 0.75rem 1.2rem;
    font-weight: bold;
    color: var(--color-primary);
    border-radius: .4rem;
    cursor: pointer;
    border: 1px solid transparent;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
    transition: var(--transition);
    margin: 0.5rem 0.5rem 0.5rem 0;
}

.btn-red{
    background-color: red;
    color: var(--color-white);
}

.btn-success{
    background-color: #23a127;
    color: var(--color-white);
}
  
.btn:hover{
    background: var(--color-dark);
    color: var(--color-white);
    border-color: transparent;
}
  
.btn-primary{
    background: var(--color-primary);
    color: var(--color-white);
}



.container__products{
    overflow: hidden;
    display: grid;
    grid-template-columns: 50% 45%;
    gap: 5%;
    background: var(--color-white);
    box-shadow: 0 10px 10px rgba(0,0,0, 0.4);
    border-radius: 2rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    padding: 1.5rem;
}

form > h2 {
    text-align: center;
    color: var(--color-primary);
}

input{
    background: var(--color-light);
    padding: 1rem;
    width: 100%;
    border: 2px solid var(--color-dark);
    color: #000;
    border-radius: 0.5rem;
}

.listado-producto{
    padding: 1.5rem;
}

.widget-producto{
    margin-bottom: 1.5rem;
}

.widget-producto__campo{
    font-weight: 700;
}

.widget-producto__valor{
    font-weight: 400;
}

.mensajes{
    margin-top: 3rem;
    text-align: center;
}

.alerta{
    padding: 1rem;
    color: var(--color-white);
}

.alerta-success{
    background: #23a127;
    opacity: .9;
    
}

.alerta-error{
    background: #ff291d;
    opacity: .9;
}

.total-productos{
    text-align: center;
    color: var(--color-dark);
    font-size: 1.5rem;
    font-weight: bold;
}


/* ====== MEDIA QUERIES (DISPOSITIVOS MEDIANOS) ======= */
@media screen and (max-width: 1024px) {
    .container{
        width: var(--container-width-md);
    }

    .container__products{
        grid-template-columns: 1fr;
        gap: 5rem;
    }
}



/* ====== MEDIA QUERIES (DISPOSITIVOS PEQUEÑOS) ======= */
@media screen and (max-width: 600px) {
    .container{
        width: var(--container-width-sm);
    }

    .container__products{
        grid-template-columns: 1fr;
    }

    form{
        padding: 1rem;
    }

    .listado-producto{
        margin-bottom: 2rem;
        padding: 1rem;
    }

    .alerta{
        width: 100%;
        font-size: 0.8rem;
    }
}